@page
@model Uppgift1_1.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>Om mig</h2>

<p>Jag studerar webbutveckling på Mittuniversitetet. Vi är nu inne på den sista terminen och för mig personligen så blir 
    detta min sista kurs innan självständigt arbete börjar och en examen kan tas.
</p>
