@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h2>Välkommen!</h2>
    <p>På den här sidan kommer en enklare webbplats skapad med hjälp av ASP.NET Core Web App (Razor Pages) demonstreras.</p>
</div>
